<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MameRomsDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <MameRomsDownload.Properties.Settings>
            <setting name="SiteRomsBasePath" serializeAs="String">
                <value>http://www.theoldcomputer.com/roms/index.php?folder=MAME/Mame4All/roms</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>stoniey420</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>gonja420</value>
            </setting>
            <setting name="SiteAuthPage" serializeAs="String">
                <value>http://www.theoldcomputer.com/roms/dirLIST_files/custom_development/process_user_login.php</value>
            </setting>
            <setting name="SiteAuthUsernameParam" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="SiteAuthPasswordParam" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="SiteAuthAction" serializeAs="String">
                <value>login=Login&amp;redirect=&amp;folder=MAME%252FMame4All%252Froms</value>
            </setting>
        </MameRomsDownload.Properties.Settings>
    </applicationSettings>
</configuration>